<% if (listCategory.length > 0) { %>
    <div class="main-header">
        <h1><%= title %></h1>
    </div>
    <div class="list">
        <% for (let category of listCategory) {%>
            <div class="detail">
                <div class="descriptions">
                    <div class="field-wrapper"><span class="field-label">Name: </span><%= category.name %></div>
                    <div class="field-wrapper"><span class="field-label">Description: </span><%= category.description %></div>
                    <div class="field-wrapper"><span class="field-label">Number of Items: </span><%= category.items.length %></div>
                </div>
                <div class="write-operations">
                    <a href=<%= category.url %>> Show Details </a>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <h1>There are no categories.</h1>
<% } %>