<div class="main-header">
    <h1>Item Form</h1>
</div>

<div class="create-form">
    <form method="POST" action="">
        <% if (item === undefined) { %>
            <input type="text" id="itemName" name="itemName" required placeholder="Name" maxlength="100">
            <input type="number" id="itemPrice" name="itemPrice" required placeholder="Price" min="1" max="100000000">
            <input type="number" id="itemStock" name="itemStock" required placeholder="Number in Stock" min="1" max="100000000">
            <textarea rows="10" type="text" id="itemDescription" name="itemDescription" required placeholder="Description" maxlength="1000"></textarea>
        <% } else { %>
            <input type="text" id="itemName" name="itemName" required placeholder="Name" maxlength="200" value="<%= item.name %>">
            <input type="number" id="itemPrice" name="itemPrice" required placeholder="Price" min="1" max="100000000" value="<%= parseInt(item.price.slice(1)) %>">
            <input type="number" id="itemStock" name="itemStock" required placeholder="Number in Stock" min="1" max="100000000" value="<%= item.number_in_stock %>">
            <textarea rows="10" type="text" id="itemDescription" name="itemDescription" required placeholder="Description" maxlength="1000"><%= item.description %></textarea>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</div>

<% if (errors !== undefined) { %>
    <ul>
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

